* {
    color: red;
}

/* selektor łączony */
div.connected p {
    color:green;
}

/* selektor pseudoelementów */
div.connected p::before {
    content:"*";
    color: red;
}

div.connected p::after {
    content:"&";
    color: yellow;
}

/* pseudoklasy */
.hover a {
    color: green;
    text-decoration: none;
}

.hover a:hover {
    color: red;
}

form.input:focus {
    border: 2px solid brown;
    outline: 0;
}

ul :first-child {
    color: violet;
}

ul li:last-child {
    color: aqua;
}

/* ul li:nth-of-type(3) {
    color:orange;
}

ul li:nth-of-type(3n+2) {
    color: gray;
} */

ul li:nth-of-type(even) {
    color: blue;
}

/* atrybuty */
input[title] {
    border: 2px solid violet;
}

/* konkretna wartość */
input[title="siódmy"] {
    border: 2px solid green;
}

/* szuka, czy występuje dany string */
input[title~="input"] {
    border: 2px solid yellow;
}

/* szuka, czy jest dany ciąg znaków */
input[title*="op"] {
    border: 2px solid darkblue;
}

/* czy zaczyna się ciągiem znaków */
input[title^="pie"] {
    border: 2px solid darkgoldenrod;
}

/* czy końcczy się ciagiem znaków */
input[title$="tni"] {
    border: 2px solid  darkmagenta;
}


/* POZYCJONOWANIE */

.relative {
    position: relative;
}

.orange,
.grey {
    height: 300px;
}

.orange {
    background-color: orange;
    position: absolute;
    top: 100px;
    left: 100px;
}

.grey {
    background-color: grey;
}

#main-nav {
    /* position: fixed; */
    position: sticky;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

/* JEDNOSTKI MIARY */

/* emy */
.parent {
    font-size: 20 px;
}

.parent > div {
    background-color: orange;
    margin-bottom: 10px;
}

#em {
    width: 4em;
}

/* procenty */
#procent {
    width: 20%;
}

/* vh */
#vh {
    width: 20vh;
}

/* KOLORY */
.container-parent {
    height: 300px;
    background-color: #000;
}

.rgb {
    height: 100px;
    background-color: rgb(0, 0, 255);
}

.rgba {
    height: 100%;
    background-color: rgb(0, 0, 255, 0.6);
}


#main-nav ul li {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 16px
}

#main-nav {
    text-align: center;
    font-size: 0;
}

img {
    float: left;
}

.clear {
    clear: both;
}

.transition-inner {
    width: 300px;
    height: 100px;
    background-color: black;
    /* transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s; */

    transition: all 0.4s ease-in-out 0.1s;
}

.transition-inner:hover {
    width: 600px;
    background-color: blue;
}

.box {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 15px auto;
    /* border: 15px solid white; */
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.czerwony {
    background-color: red;
}

.czerwony:hover {
    width: 300px;
}


.zielony {
    background-color: green;
}

.zielony:hover {
    height: 300px;

}

.niebieski {
    background-color: blue;
}

.niebieski:hover {
    width: 300px;
    height: 300px;
}

.background {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://cdn.shoplo.com/1785/products/th1024/aaab/123-kotek.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* PRZEPEŁNIENIE ELEMENTU */
    .overflow {
        width: 200px;
        height: 300px;
        border: 1px dotted #000;
        overflow: auto;
    }

    /* TRANSFORMACJE */
    #rotate {
        background-color: black;
        width: 200px;
        height: 200px;
        transform: rotate(20deg);
        overflow:;
    }
/* ROTUJE WG LEWY GÓRNY RÓG */
    /* #rotate {
        transform-origin: 0 0;
    } */

    /* PRZESUNIĘCIE */
    #translate {
        background-color: blue;
        width: 300px;
        height: 50px;
        transform: translate(100px, 50px);
    }

    /* SKALOWANIe */
    #scale {
        height: 500px;
        width: 500px;
        /* overflow: hidden; */
    }

    /* #scale img {
        transition: all 0.4s; 
    }
    /* all tutaj to domyślnie: ease-on delay 0, czas ustawiamy */

    /* #scale img:hover {
        transform: scale(2);
    } */ 


    /* ANIMACJA */

    #scale img {
        animation-name: skaluj;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }


    @keyframes skaluj {
        0%, 100% {
        transform: scale(1);
        }

        30% {
            transform: scale(2);
        }

        70% {
            transform: scale(3);
        }
    }

    /* FLEX */

    #flex {
        height: 400px;
        background-color: orange;
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        /* align-content: center; */
        align-items: center;

    }

    .flex-inner {
        height: 100px;
        background-color: blue;
        flex-basis: 25%;
        flex-shrink: 1;
    }

    .flex-inner:nth-of-type(5) {
        flex-grow: 0.5;
        align-self: flex-end;
    }

    /* flex-shrink nie działa przy flex-wrap: wrap */

    .flex-inner:nth-of-type(1) {
        flex-shrink: 2;
        order: 1;
    }