* {
box-sizing:border-box;
}

body {
    margin:0 auto;
}

header {
    
    background-image: url(obrazy/man-1.jpg);
    background-position: center;
    background-size: cover;
    
}

#flex {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
    justify-content: flex-start;
    padding-left: 7%;

}

#flex h1,
#flex h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}
